@import "variables";

body{
    background-color: nth($dark, 1);
    color: nth($light, 1);
    font-family:  $font1;
    position: relative;
    
    background-color: khaki;

    p{
        margin: 0;
    }
}
.header{
    height: 30px;
    width: 1200px;

    @extend%grid-12;
    .col-1{
        grid-column: span 1;
    }
    .col-3{
        grid-column: 10/span 3;
    }
    .col-4{
        grid-column: 3/span 4;
    }
    li{
        color: nth($inert, 1);
        &:hover{
            color: nth($light, 1);
        }
    }  
}

.box{
    box-sizing: border-box;
}

.flex{
    display: flex;

    &.fl-start{
        justify-content: flex-start;
    }
    &.fl-sp-betw{
        justify-content: space-between;
    } 
    &.fl-end{
        justify-content: flex-end;
    }
    &.fl-column{
        flex-direction: column;
    }
    &.self-center{
        align-self: center;
    }
    &.fl-row-reverse{
        flex-direction: row-reverse;
    }
}

.logo-size{
    width: 19.76px;
    height: 17px;
}
.mar-3{
    margin: 3px 0 0 3px;
}
.no-style{
    list-style: none;
}

.search-size{
    width: 278px;
    height: 20px;
}
.search-decor{
    border-radius: 50px;
    padding-left: 13.9px;
    border: none;

    background-color: nth($dark, 2);
    color: nth($inert, 1);

    &:hover{
        border-radius: 50px;
        padding-left: 13.9px;
        border: none;

        color: nth($light, 1);
    }
}

.bg-image{
    background-image: url(../images/banner.png);
    background-color: nth($dark, 1);
    background-size: cover;
}
.h-877{
    height: 877px;
}
.absolute-0{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.text-center{
    text-align: center;
}
.w-100{
    width: 100%;
}
.no-upper{
    text-transform: none;
}
.mar-0{
    margin: 0;
}
.mar-10-45{
    margin: 10px 0 45px 0;
}

.form-size{
    width: 570px;
    height: 136px;
}

.form-box-decor{
    width: 262px;
    height: 44px;

    background: transparent;
    background: rgba(255, 255, 255, 0.1);

    border-radius: 3px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.mar-t-30{
    margin-top: 30px;
}
.btn-green{
    width: 570px;
    height: 56px;

    background-color: nth($multicolored, 1);
    color: nth($light, 1);

    border-radius: 5px;
}
.subscription{
    width: 1200px;
    height: 779px;

    background-color: hotpink;
}
.font-norm{
    font-weight: normal;
}
.sub-box{
    width: 30%;
    height: 580px;

    border-radius: 5px; 
}
.mar-t-24i{
    margin-top: 24.91px;
}
.mar-24{
    margin-top: 24px;
}
.mar-t-222i{
    margin-top: 222.23px;
}
.mar-t-223{
    margin-top: 223px;
}
.mar-r-10{
    margin-right: 10px;
}
.mar-t-7{
    margin-top: 7px;
}
.mar-arrange{
    margin: 40px 25px 37px 25px;
}
.btn-arrange{
    width: 300px;
    height: 68px;

    border: 4px solid;
    border-color: nth($light, 1);
    border-radius: 5px;

    background: transparent;
    color: nth($light, 1);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.mar-20-83{
    margin: 16px 83px;
}
.mar-0-25{
    margin: 0 25px;
}
.news{
    width: 1200px;
    height: 733px;
    background: lightskyblue;
}
.h-284{
    height: 284px;
}
.borders{
    border: 1px;
    border-color: nth($inert, 3);
}
.w-566{
    width: 566px;
}
.new-color{
    color: nth($inert, 2);
}
.mar-t-50{
    margin-top: 50px;
}
.h-116{
    height: 116px;
}
.ava-box-size{
    height: 28px;
    width: 221px;
}
.mar-t-20{
    margin-top: 20px;
}
.mar-t-25{
    margin-top: 25px;
}
.mar-t-16{
    margin-top: 16px;
}
.mar-t-45{
    margin-top: 45px;
}

.ava-size{
    width: 20.38px;
    height: 19px;
}
.pad-t-4{
    padding-top: 4px;
}
.mar-t-8{
    margin-top: 8px;
}
.ava-color{
    color: nth($multicolored, 2);
}
.mar-t-9{
    margin-top: 13px;
}
.line{
    width: 11px;
    height: 0;

    border: 1px solid;
    transform: rotate(90deg);

    border-color: nth($inert, 3);
}
.new-date{
    color: nth($dark, 3);
}
.album{
    width: 129.14px;
    height: 48px;

    border: 1px solid;
    border-radius: 5px;
    border-color: nth($light, 2);

    color: nth($inert, 2);
    background: transparent;
}
.news-picture-box{
    width: 566px;
    height: 284px;
}
.picture-1{
    float: left;
    margin-right: 68px;

    background-image: url(../images/Music_to_Be_Murdered_By.png);
}
.picture-2{
    float: right;
    margin-left: 68px;

    background-image: url(../images/Ordinary_Man.png);
}
.mar-t-70{
    margin-top: 70px;
}
.mar-t-15{
    margin-top: 15px;
}

.mobil{
    width: 1200px;
    height: 322px;

    background: olive;
}
.mobil-picture{
    width: 295.03px;
    height: 227px;

    float: right;

    margin: 50px 129.14px 0 209.6px;

    background-image: url(../images/iphone.png);
    background-size: cover;
}
.btn-red{
    width: 173.76px;
    height: 56px;

    background: nth($multicolored, 3);
    color: nth($light, 1);

    border-radius: 50px;
    border: none;
}
.mobil-text{
    width: 566.23px;

    color: nth($inert, 2);
}
.mar-t-82{
    margin-top: 82px;
}
footer{
    height: 486px;
    width: 100%;

    background: linear-gradient(89.75deg, #5328A1 32.83%, #95390C 81.56%);
}
.mar-t-80{
    margin-top: 80px;
}
.menu-1{
    width: 1020px;
    height: 187px;

    margin-left: 230px;
}

.text-footer{
    color:nth($inert, 4);
    text-decoration: none;
}

.google{
    width: 26px;
    height: 17px;

    background-image: url(../images/Google+.png);
    background-size: cover;
}
.twit{
    width: 22px;
    height: 19px;

    background-image: url(../images/Twitter.png);
    background-size: cover;
}
.fb{
    width: 12px;
    height: 20px;

    background-image: url(../images/Facebook.png);
    background-size: cover;
}
.insta{
    width: 19px;
    height: 20px;

    background-image: url(../images/Instagram.png);
    background-size: cover;
}
.social-box{
    width: 147px;
    height: 71px;
}
.line-2{
    width: 100%;
    height: 0px;

    margin-top: 100px;

    border: 1px solid;
    border-color: nth($light, 3);
}
.mar-t-50{
    margin-top: 50px;
}
.menu-2{
    width: 534px;
    margin-left: 230px;
}
