
@import url('https://fonts.googleapis.com/css2? family = Roboto & display = swap');

$font1: 'Roboto', sans-serif;

$light: #FFF, #E9E9E9, #EEEEEE;
$dark: #08020D, #3C3B3D, #555555;
$inert:#808080, #8C8C8C, #B8B8B8, #CACACA; 
$multicolored: #34C176, #F89202, #FF4157;

%grid-12{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

@mixin absolute($number) {
    .absolute-#{$number}{
    position: absolute;
    top: #{$number}px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    }
}
@include absolute(25);
@include absolute(493);
@include absolute(272);
@include absolute(977);
@include absolute(1856);
@include absolute(2689);
@include absolute(3111);


@mixin text($size) {
    .fs-#{$size}{
        font-size: #{$size}px;
        font-weight: bold;
        text-transform: uppercase;
    }
}
@include text(11);
@include text(60);
@include text(30);
@include text(14);
@include text(18);
@include text(38);
@include text(22);
@include text(12);
@include text(24);
@include text(16);

@for $i from 1 through 3{
    $numeric: $i;
    .sub-#{$numeric}{
        background-image: url(../images/subscribe_#{$numeric}.png);
        background-color: $dark;
        background-size: cover;
    }
}



